*

!.config/

# All config nvim folders
!.config/nvim/
!.config/nvim/*
!.config/nvim/*/*
!.config/nvim/*/*/*
!.config/nvim/*/*/*/*
!.config/nvim/*/*/*/*/*
!.config/nvim/*/*/*/*/*/*
!.config/nvim/*/*/*/*/*/*/*

# All config tmux folders
!.config/tmux/
!.config/tmux/*
!.config/tmux/*/*
!.config/tmux/*/*/*
!.config/tmux/*/*/*/*
!.config/tmux/*/*/*/*/*

# All tmux folders
!.tmux/
!.tmux/*
!.tmux/*/*
!.tmux/*/*/*
!.tmux/*/*/*/*
!.tmux/*/*/*/*/*
!.tmux/*/*/*/*/*/*

# Bashscripts
!bashscripts/
!bashscripts/*
!bashscripts/*/*
!bashscripts/*/*/*
!bashscripts/*/*/*/*
!bashscripts/*/*/*/*/*

!.bashrc
!.wezterm.lua
!README.md
!.gitignore
!.ideavimrc

